.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/fbConfig.json


# Editor directories and files
.idea
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
src/components/questionFormOLD.vue
src/store/storeOLD.js
