/* FORM IN INDEX PAGE*/
.forms{
  width: 40%;
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 8rem;
  box-shadow: 4px 4px 4px 4px grey;
}
.blurred{
  background-image: url(blurred-background-with-light-colors_1034-245.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

}

.wrapper{
  /*background-image: url(Background-imgs/rusted-red-industrial-seamless-textures-part-2-7.jpg);*/
    background-image: url(Background-imgs/005-wood-grain.png);
  }

.navigationBar{
  padding-bottom: 10px;
  margin-bottom: 10px;
}


#ksi {
  font-family: 'Courgette', cursive;
  font-size: 1.3em;
}
#test {
  font-family: Georgia;
}
#jumbo {
  margin-bottom: 0px;
}
#menu-button{
  text-decoration: none;
}
#menu-button:focus {
  color: rgb(59, 34, 74);
  box-shadow: 4px 2px 2px 1px;
}
&:active{
  color: rgb(59, 34, 74);
  box-shadow: 4px 2px 2px 1px;
}

#dividerDiv{
  border-left: 2px groove;
  border-radius: 1px;
}

.clicked{
  border-radius: 0px;
  box-shadow: -2px -2px rgb(148, 152, 146) inset;
  /*top: -2px;
  left: -3px;*/
}
.beingClicked:focus{
  border-radius: 0px;
  box-shadow: -2px -2px rgb(148, 152, 146) inset;
}
